body{
    background-color: #cecece;
}

.B{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.C{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.D{
    background-color:rgb(255, 136, 0);
    height: 100px;
    width: 30%;
}

.E{
    background-color: rgb(0, 255, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}